body {
  padding: 40px;
  background-color: white;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  grid-gap: 10px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.visible {
 display: block;
}

.hidden {
 opacity: 0;
}

.selected {
  background-color: #0bcc59;
}